<phpunit bootstrap="./tests/bootstrap.php"
  colors="true"
  verbose="true"
  testdox="true"
  >
  <testsuites>
    <testsuite name="Bac">
      <directory>./tests/bac</directory>
    </testsuite>
    <testsuite name="Exporter">
      <directory>
        ./tests/exporter
      </directory>
    </testsuite>
  </testsuites>
  <php>
    <const name="ABSPATH" value="D:\MAMP\htdocs\mokka-live/" force="true" />
  </php>
</phpunit>